<!-- home start -->
<section class="" id="home">
    <div class="home-center mt-5">
        <div class="home-desc-center">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="home-title mo-mb-20">
                            <h1 class="mb-4">Landing Page Coming Soon</h1>


                            <a href="/admin/login1" class="btn btn-light">Team Member Prototype</a>
                            <a href="/admin/home" class="btn btn-light">Team Member Prototype Returning</a>
                        </div>
                    </div>
                    
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </div>
    </div>
</section>
<!-- home end -->
