<%- content_for :head_css do %>
  
<% end %>
<div class="wrapper">
            <div class="container">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h1 class="page-title">Notifications</h1>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <div class="row">
                    <div class="col-12">

                        <ul class="list-group">

                          <li class="list-group-item"><a href="#"> <i class="fe-x space"></i></a>  Colleague name <a href="#"> recognised you</a> <span class="text-small float-right text-muted">10 mins ago</span></li>

                          <li class="list-group-item"><a href="#"> <i class="fe-x space"></i></a> You've been gifted <a href="/pages/holiday3"> 1/2 day holiday</a> <span class="text-small float-right text-muted">1 day ago</span></li>

                          <li class="list-group-item"><a href="#"> <i class="fe-x space"></i></a> New shout-out in <a href="/pages/hub#pills-profile">The Hub</a> <span class="text-small float-right text-muted">5 days ago</span></li>

                        </ul>
                        

                        
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
                
            </div> <!-- end container -->
        </div><%- content_for :footer_js do %>
  
<% end %>
