@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-Light.eot');
    src: font-url('rubik/Rubic-Light.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-Light.woff2') format('woff2'),
        font-url('rubik/Rubic-Light.woff') format('woff'),
        font-url('rubik/Rubic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-BoldItalic.eot');
    src: font-url('rubik/Rubic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-BoldItalic.woff2') format('woff2'),
        font-url('rubik/Rubic-BoldItalic.woff') format('woff'),
        font-url('rubik/Rubic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-LightItalic.eot');
    src: font-url('rubik/Rubic-LightItalic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-LightItalic.woff2') format('woff2'),
        font-url('rubik/Rubic-LightItalic.woff') format('woff'),
        font-url('rubik/Rubic-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-BlackItalic.eot');
    src: font-url('rubik/Rubic-BlackItalic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-BlackItalic.woff2') format('woff2'),
        font-url('rubik/Rubic-BlackItalic.woff') format('woff'),
        font-url('rubik/Rubic-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-Italic.eot');
    src: font-url('rubik/Rubic-Italic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-Italic.woff2') format('woff2'),
        font-url('rubik/Rubic-Italic.woff') format('woff'),
        font-url('rubik/Rubic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-Regular.eot');
    src: font-url('rubik/Rubic-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-Regular.woff2') format('woff2'),
        font-url('rubik/Rubic-Regular.woff') format('woff'),
        font-url('rubik/Rubic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-Bold.eot');
    src: font-url('rubik/Rubic-Bold.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-Bold.woff2') format('woff2'),
        font-url('rubik/Rubic-Bold.woff') format('woff'),
        font-url('rubik/Rubic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-Medium.eot');
    src: font-url('rubik/Rubic-Medium.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-Medium.woff2') format('woff2'),
        font-url('rubik/Rubic-Medium.woff') format('woff'),
        font-url('rubik/Rubic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-MediumItalic.eot');
    src: font-url('rubik/Rubic-MediumItalic.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-MediumItalic.woff2') format('woff2'),
        font-url('rubik/Rubic-MediumItalic.woff') format('woff'),
        font-url('rubik/Rubic-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: font-url('rubik/Rubic-Black.eot');
    src: font-url('rubik/Rubic-Black.eot?#iefix') format('embedded-opentype'),
        font-url('rubik/Rubic-Black.woff2') format('woff2'),
        font-url('rubik/Rubic-Black.woff') format('woff'),
        font-url('rubik/Rubic-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

